<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="entities">
  <title>{{title}}</title>
</head>

<body>
  <!-- Non breaking space -->
  <p>Hello, my name is &nbsp; &nbsp; Raiden</p>
  <!-- Greater than and less than -->
  <p> 5 &gt; 2 </p>
  <p> 5 &#62; 2 </p>
  <p> 2 &lt; 5 </p>
  <p> 1 &#60; 2 </p>
  <!-- Copyright -->
  <p> &copy; copyright </p>
  <p> &reg; trade mark </p>
  <!-- Currency -->
  <p> &cent; &dollar; &yen;</p>
  <!-- Suits -->
  <p> &spades; &clubs; &hearts; &diams; </p>
  <!-- Computer Code -->
  <label for="nim_code">Nim Code</label><br>
  <code id="nim_code">
    std.echo("Hello, world!")
  </code>
  <!-- use keyboard tag -->
  <p> You can save the file by using <kbd style="font-style:oblique ;"> Control + s </kbd> </p>
</body>

</html>