<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="Forms, input">
  <title>{{title}}</title>
</head>

<body>
  <form action="/forms" method="post">
    <div>
      <label for="name">Name</label><br>
      <input id="name" type="text" name="person_name">
    </div>
    <div>
      <label for="email">Email</label><br>
      <input id="email" type="email" name="person_email">
    </div>
    <div>
      <lable for="message">Message</lable><br>
      <textarea id="message" name="person_message" cols="50" rows="15"></textarea>
    </div>
    <div>
      <label for="gender">Gender</label>
      <select id="gender" name="person_gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div>
      <label for="age">Age</label>
      <input id="age" type="number" name="person_age" </div>
      <div>
        <input id="submit" type="submit">
      </div>
  </form>
</body>

</html>