<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0>" <meta http-equiv="X-UA-Compatible"
    content="ie=edge">
  <meta name="description" content="This will search engin see">
  <meta name="keywords" content="web development, web design,around 12 key">
  <!-- This not allows search engine for track -->
  <meta name="robots" content="NOINDEX, NOFOLLOW">
  <title>
    My Website
  </title>
</head>

<body>

  <!-- This is acomment -->
  <h1>Welcome to my website {{name}}</h1>

</body>

</html>