<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="Images, Links">
  <title>{{title}}</title>
</head>

<body>
  <h1> Images & Links </h1>
  <!--External link-->
  <a href="http://google.com"> Click For Google</a>
  <!--Open the page in new tab-->
  <br>
  <a href="http://google.com" target="_blank"> Click For Google in new tab</a>
  <!--Internal link-->
  <br>
  <a href="/{{link}}">Typography</a>
  <br>
  <!--Local images-->
  <img src="imgs/nature.jpg" alt="Nature image" width="800" height="500">
  <br>
  <!--Remote image-->
  <img src="https://picsum.photos/seed/picsum/200/300" alt="random image" width="200" height="300">
</body>

</html>