<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Adding discription which help search engine-->
  <meta name="description" content="This is website description">
  <!--another search engine related keyword [between 8 - 12 words]-->
  <meta name="keywords" content="web development, web design, web application">
  <!--if you dont want to rank this page for search engine use this meta-->
  <meta name="robots" content="NOINDEX, NOFOLLOW">
  <title>Meta Tags</title>
</head>

<body>
  <!--This is comment-->
  <p>Look at the meta</p>
</body>

</html>