<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/src/css/04_colors.css">
  <title>{{title}}</title>
</head>

<body>
  {% var num = "" %}
  {% for number in numbers %}
  {% if number == 1 %}
  {% num = "One" %}
  {% elif number == 2 %}
  {% num = "Two" %}
  {% else %}
  {% num = "Three" %}
  {% endif %}
  <p id="para{{number}}"> Heading {{num}} </p>
  {% endfor %}
</body>

</html>