<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keyword" content="float, align">
  <link rel="stylesheet" href="/src/css/07_float_align.css">
  <title>{{title}}</title>
</head>

<body>
  <div class="container">
    {% var numbers = (1..4) %}
    {% for num in numbers %}
    {% if num == 4 %}
    <div class="clr"></div>
    {% endif %}
    <div id="box-{{num}}" class="box">
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis posuere tincidunt. Proin faucibus porta
        bibendum. Nam laoreet congue sapien et sodales. Morbi posuere elit et ante dictum varius. Nam in laoreet quam.
        Integer sit amet tellus lorem. Fusce ultricies nisi lorem, eget ornare risus lacinia ut. Donec urna quam,
        interdum
        eu rhoncus vitae, imperdiet sed justo. Vivamus porttitor sit amet eros suscipit pretium. Duis tristique rutrum
        sollicitudin. Maecenas blandit ante neque, at pharetra justo pellentesque sed. Praesent ultricies nisi at velit
        iaculis commodo. Nunc nec ante luctus velit pellentesque aliquet id quis sapien. Aliquam sed est luctus, porta
        nunc eget, accumsan justo. Nunc neque lacus, tempus ac pellentesque non, pharetra facilisis lorem.
      </p>
    </div>
    {% endfor %}
  </div>
</body>

</html>