<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="menues">
  <link rel="stylesheet" href="/src/css/09_menus.css">
  <title>{{title}}</title>
</head>

<body>
  <ul class="navbar">
    {% for data in data_set %}
    <li><a href="#">{{data}}</a></li>
    {% endfor %}
  </ul>
  <br>
  <br>
  <ul class="side-menu">
    {% for data in data_set %}
    <li><a href="#">{{data}}</a></li>
    {% endfor %}
  </ul>
</body>

</html>